<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Historic Sites</title>
    <link rel="stylesheet" href="./css/main.css" />
</head>

<body>
    <!---- Navbar ---->
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" href="/">National Historic Sites <img
                    src="images/canadaFlag.webp" alt="CA"></a>
        </div>

        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost sm:hidden">
            </label>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/about">About</a></li>
                <li>
                    <details>
                        <summary>Region</summary>
                        <ul class="p-2 bg-base-100">
                            <li><a href="/sites?region=Atlantic%20region">Atlantic Region</a></li>
                            <li><a href="/sites?region=Central%20Canada">Central Canada</a></li>
                            <li><a href="/sites?region=Prairie Provinces">Prairie Provinces</a></li>
                            <li><a href="/sites?region=West Coast">West Coast</a></li>
                            <li><a href="/sites?region=North">North</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>

        <div class="navbar-center hidden sm:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/about">About</a></li>
                <li>
                    <details>
                        <summary>Region</summary>
                        <ul class="p-2 bg-base-100 right-0">
                            <li><a href="/sites?region=Atlantic region">Atlantic Region</a></li>
                            <li><a href="/sites?region=Central Canada">Central Canada</a></li>
                            <li><a href="/sites?region=Prairie Provinces">Prairie Provinces</a></li>
                            <li><a href="/sites?region=West Coast">West Coast</a></li>
                            <li><a href="/sites?region=North">North</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>

    <br />

    <div class="container mx-auto">

        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center ">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">404</h1>

                    <p class="py-6">I'm sorry, we're unable to find what you're looking for.</p>
                </div>
            </div>
        </div>

        <br />

</body>

</html>