<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Historic Sites</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body tabindex="-1">
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" href="/">National Historic Sites <img
                    src="images/canadaFlag.webp" alt="Canada Flag"></a>
        </div>

        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost sm:hidden"></label>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content left-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/about">About</a></li>
                <li>
                    <details>
                        <summary>Region</summary>
                        <ul class="p-2 bg-base-100 right-0">
                            <li><a href="/sites?region=Atlantic%20region">Atlantic&nbsp;Region</a></li>
                            <li><a href="/sites?region=Central%20Canada">Central&nbsp;Canada</a></li>
                            <li><a href="/sites?region=Prairie Provinces">Prairie&nbsp;Provinces</a></li>
                            <li><a href="/sites?region=West Coast">West&nbsp;Coast</a></li>
                            <li><a href="/sites?region=North">North</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>

        <div class="navbar-center hidden sm:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/about">About</a></li>
                <li>
                    <details>
                        <summary>Region</summary>
                        <ul class="p-2 bg-base-100 right-0">
                            <li><a href="/sites?region=Atlantic region">Atlantic&nbsp;Region</a></li>
                            <li><a href="/sites?region=Central Canada">Central&nbsp;Canada</a></li>
                            <li><a href="/sites?region=Prairie Provinces">Prairie&nbsp;Provinces</a></li>
                            <li><a href="/sites?region=West Coast">West&nbsp;Coast</a></li>
                            <li><a href="/sites?region=North">North</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>
    <!---- Hero ---->
    <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center ">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">Welcome</h1>

                    <p class="py-6">Browse National Historic Sites located across ten provinces and three territories of
                        Canada.</p>

                    <a href="/sites" class="btn btn-primary">Get Started Now</a>
                </div>
            </div>
        </div>
        <br />
        <!---- Cards ---->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div>
                <div class="card bg-base-100 w-96 shadow-xl">
                    <figure>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Summerside_City_Hall_2.jpg/320px-Summerside_City_Hall_2.jpg"
                            alt="Former Summerside Post Office" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Former Summerside Post Office</h2>

                        <p>A stone post office with Gothic and Romanesque elements; representative of the small urban
                            post offices erected by the Department of Public Works in smaller urban centres during
                            Thomas Fuller's term as Chief Architect; current town hal</p>
                        <p><b>Date: </b>1887 (completed) </p>
                        <p><b>Location": </b>Summerside, PE</p>

                        <div class="card-actions justify-end">
                            <a href="/sites/PE006" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card bg-base-100 w-96 shadow-xl">
                    <figure>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Royal_Conservatory_of_Music.jpg/320px-Royal_Conservatory_of_Music.jpg"
                            alt="Royal Conservatory of Music" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Royal Conservatory of Music</h2>

                        <p>Originally constructed as the first home of McMaster University, Ihnatowycz Hall has housed
                            the Royal Conservatory of Music since 1962; some of Canada's some of the most prominent
                            musicians and music teachers have studied at the Conservatory, and it has played a
                            significant role in music education across the country</p>
                        <p><b>Date: </b>1881 (Ihnatowycz Hall completed) </p>
                        <p><b>Location": </b>Toronto, ON</p>

                        <div class="card-actions justify-end">
                            <a href="/sites/ON028" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card bg-base-100 w-96 shadow-xl">
                    <figure>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Press_Building%2C_CNE_2008.jpg/320px-Press_Building%2C_CNE_2008.jpg"
                            alt="Gouinlock Buildings" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Gouinlock Buildings / Early Exhibition Buildings</h2>

                        <p>Five buildings (the Fire Hall/Police Station, Government Building, Horticulture Building,
                            Music Building and Press Building) on the grounds of the Canadian National Exhibition; the
                            largest and finest group of early 20th century exhibition buildings in Canada</p>
                        <p><b>Date: </b>1912 (completed) </p>
                        <p><b>Location": </b>Toronto, ON</p>

                        <div class="card-actions justify-end">
                            <a href="/sites/ON025" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br><br><br>
</body>

</html>